/* Theme */
:root {
  /* Primary */
  --primary: 198 52% 42%;
  /* Foreground */
  --foreground: 224 18% 11%;
  --muted-foreground: 224 10% 33%;
  /* Background */
  --background: 210 30% 99%;
  --muted: 210 20% 96%;
  --card: 210 18% 91%;

  /* Basic */
  --border: 215 16% 84%;
  --input: 215 16% 88%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
}
.dark {
  /* Primary */
  --primary: 198 78% 72%;
  /* Foreground */
  --foreground: 0 0% 98%;
  --muted-foreground: 220 8% 76%;
  /* Background */
  --background: 224 28% 7%;
  --muted: 224 12% 14%;
  --card: 224 10% 22%;

  /* Basic */
  --border: 224 9% 25%;
  --input: 224 9% 18%;
  --ring: 240 4.9% 83.9%;
}
:root {
  --un-default-border-color: hsl(var(--border) / 1);
}
html.dark {
  color-scheme: dark;
}

/* Global */
a {
  transition: color 0.2s ease;
  &:hover {
    color: hsl(var(--primary) / var(--un-text-opacity, 1));
  }
}
